[defaults]
inventory         = inventories/production/hosts.yml
roles_path        = roles
collections_paths = ~/.ansible/collections
stdout_callback   = yaml
nocows            = true

[ssh_connection]
ssh_args          = -F ~/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
pipelining        = true
