[defaults]
inventory         = inventories/production/hosts.yml
roles_path        = roles
collections_paths = ~/.ansible/collections
stdout_callback   = default
callback_result_format = yaml
nocows            = true

[ssh_connection]
ssh_args          = -F /home/time/.ssh/config -o ControlMaster=auto -o ControlPersist=300s
pipelining        = true
