[Unit]
Description=Obsidian Headless Sync
After=network.target

[Service]
User=tim
Environment=PATH=/home/tim/.nvm/versions/node/v24.15.0/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/home/tim/.nvm/versions/node/v24.15.0/bin/ob sync --continuous
WorkingDirectory=/home/tim/vaults/brain
Restart=always

[Install]
WantedBy=multi-user.target
